<!DOCTYPE html>
<html lang="en">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="static/about.css">

	   <script src="https://kit.fontawesome.com/f52cd04ab4.js" crossorigin="anonymous"></script>
    </head>

<body class="text-white bg-black">
<!--    navbar -->
         <div class="back-button" style="margin-top:-250px;margin-left:-40%">
  <div class="arrow-wrap">
      <a href="{{ url_for('home') }}">...... </a>
    <span class="arrow-part-1"></span>
    <span class="arrow-part-2"></span>
    <span class="arrow-part-3"></span>
  </div>
</div>
        <div class="container">
    <div class="section-title">
        <h1>Challenge Your Limits <br>
        Our Team will Make it...
        </h1>
    </div>

    <div class="row">


        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="static/Images/vishal.jpg" alt="Team Image">
                </div>
                <br>
                <div class="team-content">
                    <h2>Vishal Patil</h2>
                    <h3>Backend Developer</h3>
                    <p></p>
                    <h4>vishal.patil22@vit.edu</h4>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="static/Images/dhanashri.jpg" alt="Team Image">
                </div>
                <br>
                <div class="team-content">
                    <h2>Dhanashri</h2>
                    <h3>AI/ML engineer</h3>
                    <p></p>
                    <h4>dhanashri.sonawane22@vit.edu</h4>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="static/Images/yash.jpg" alt="Team Image">
                </div>
                <br>
                <div class="team-content">
                    <h2>Yash</h2>
                    <h3>Frontend Developer</h3>
                    <p></p>
                    <h4>yash.gaikwad22@vit.edu</h4>
                </div>

            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="static/Images/sourabh.jpg" alt="Team Image">
                </div>
                <br>
                <div class="team-content">
                    <h2>Sourabh</h2>
                    <h3>Data Science</h3>
                    <h4>sourabh.shintre22@vit.edu</h4>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>